{{ define "outcome" }}
{{ if . }}
Yes, that's right! 1/1022 or 0.01% of the players have gotten this question right.
{{ else }}
That's Incorrect :(
{{ end }}
<div id="spacer"></div>
<button hx-get="/" hx-target="body">Next</button>
<div id="spacer"></div>
Rate question
<div>
    <svg id="thumbsUpBtn"
        hx-post="/vote-up"
        hx-swap="none"
        hx-vals="js:{thumbsDownSelected:document.getElementById('thumbsDownBtn').classList.contains('selected'),thumbsUpSelected:document.getElementById('thumbsUpBtn').classList.contains('selected')}"
        hx-on::after-request="toggleSelected(this)"
        width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
    >
        <path d="M7.24001 11V20H5.63001C4.73001 20 4.01001 19.28 4.01001 18.39V12.62C4.01001 11.73 4.74001 11 5.63001 11H7.24001ZM18.5 9.5H13.72V6C13.72 4.9 12.82 4 11.73 4H11.64C11.24 4 10.88 4.24 10.72 4.61L7.99001 11V20H17.19C17.92 20 18.54 19.48 18.67 18.76L19.99 11.26C20.15 10.34 19.45 9.5 18.51 9.5H18.5Z" fill="#000000"/>
    </svg>
    <svg id="thumbsDownBtn"
        hx-post="/vote-down"
        hx-swap="none"
        hx-vals="js:{thumbsDownSelected:document.getElementById('thumbsDownBtn').classList.contains('selected'),thumbsUpSelected:document.getElementById('thumbsUpBtn').classList.contains('selected')}"
        hx-on::after-request="toggleSelected(this)"
        width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
    >
        <path d="M20 5.61V11.38C20 12.27 19.27 13 18.38 13H16.77V4H18.38C19.28 4 20 4.72 20 5.61ZM5.34001 5.24L4.02001 12.74C3.86001 13.66 4.56001 14.5 5.50001 14.5H10.28V18C10.28 19.1 11.18 20 12.27 20H12.36C12.76 20 13.12 19.76 13.28 19.39L16.01 13V4H6.81001C6.08001 4 5.46001 4.52 5.33001 5.24H5.34001Z" fill="#000000"/>
    </svg>
</div>
<script>
    function toggleSelected(btn) {
        const thumbsUpBtn = document.getElementById('thumbsUpBtn');
        const thumbsDownBtn = document.getElementById('thumbsDownBtn');

        if (btn.id === 'thumbsUpBtn') {
            thumbsDownBtn.classList.remove('selected');
        } else {
            thumbsUpBtn.classList.remove('selected');
        }

        btn.classList.toggle('selected');
    }
</script>
{{ end }}
